In [2]:
import pandas as pd
from turicreate import SFrame, recommender
import os

In [3]:
data_folder="../data"

In [4]:
product_meta_df = pd.read_csv(os.path.join(data_folder, "products_added.csv"))
product_meta_sf = SFrame(data=product_meta_df)
product_meta_df.head()

,product_id,product_name,aisle_id,department_id,average_dow,standard_dev_dow,average_hour_of_day,standard_dev_hour_of_day,number_of_orders
0,1,Chocolate Sandwich Cookies,61,19,3.026316,1.781188,12.960526,4.057720,76
1,2,All-Seasons Salt,104,13,2.000000,2.449490,14.000000,4.760952,4
2,3,Robust Golden Unsweetened Oolong Tea,94,7,3.666667,2.160247,13.333333,2.338090,6
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,2.727273,2.250541,15.272727,3.439017,22
4,5,Green Chile Anytime Sauce,5,13,5.000000,NaN,13.000000,NaN,1

In [5]:
orders_meta_df = pd.read_csv(os.path.join(data_folder, "orders_added.csv"))
orders_meta_sf = SFrame(data=orders_meta_df)
orders_meta_df.head()

   order_id  product_id  add_to_cart_order  reordered  ratings  user_id
0         1       49302                  1          1        2   112108
1         1       11109                  2          1        2   112108
2         1       10246                  3          0        1   112108
3         1       49683                  4          0        1   112108
4         1       43633                  5          1        2   112108

In [6]:
orders_meta_sf['item_id'] = orders_meta_sf['product_id']

In [ ]:
product_similarity_model = recommender.item_similarity_recommender.create(orders_meta_sf[[]])

Warning: Ignoring columns order_id, product_id, add_to_cart_order, reordered, ratings;

 To use one of these as a rating column, specify the column name to be used as target

    and use a method that allows the use of a target.

Preparing data set.

    Data has 1384617 observations with 131209 users and 39123 items.

    Data prepared in: 0.624102s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 2.27ms                         | 0.75       |

| 65.914ms                       | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+